{{#bs-form model=model onSubmit=(perform save) novalidate=true as |form|}}
  <div class="form-row">
    {{form.element
      label="Tag"
      property="tag"
      class="col-md-6"
      data-test-tag=true
    }}
    {{input-tags
      property="actionsTag"
      form=form
      label="Actions tag"
      modelName="tp-action"
      tpid=model.tpid
      class="col-md-6"
      dataTest="action"
    }}
    {{form.element
      label="Timing tag"
      property="timingTag"
      class="col-md-6"
      data-test-timing-tag=true
    }}
    {{form.element
      label="Weight"
      property="weight"
      controlType="number"
      step="0.1"
      min="0"
      class="col-md-6"
      data-test-weight=true
    }}
  </div>
  {{#bs-button
    type="primary"
    buttonType="submit"
    disabled=save.isRunning
    data-test-submit-button=true
  }}
    {{loading-button-text text="Save" isLoading=save.isRunning}}
  {{/bs-button}}
{{/bs-form}}