{{#bs-form model=model onSubmit=(perform save) novalidate=true as |form|}}
  <div class="form-row">
    {{form.element
      label="Tenant"
      property="tenant"
      class="col-md-6"
      data-test-tenant=true
    }}
    {{form.element
      label="Direction"
      property="direction"
      class="col-md-6"
      data-test-direction=true
    }}
    {{form.element
      label="Category"
      property="category"
      class="col-md-6"
      data-test-category=true
    }}
    {{form.element
      label="Account"
      property="account"
      class="col-md-6"
      data-test-account=true
    }}
    {{form.element
      label="Subject"
      property="subject"
      class="col-md-6"
      data-test-subject=true
    }}
    {{form.element
      label="Destination ID"
      property="destinationId"
      class="col-md-6"
      data-test-destination-id=true
    }}
    {{form.element
      label="Context"
      property="context"
      class="col-md-6"
      data-test-context=true
    }}
    {{form.element
      label="Target"
      property="target"
      class="col-md-6"
      data-test-target=true
    }}
    {{form.element
      label="Original"
      property="original"
      class="col-md-6"
      data-test-original=true
    }}
    {{form.element
      label="Alias"
      property="alias"
      class="col-md-6"
      data-test-alias=true
    }}
    {{form.element
      label="Weight"
      property="weight"
      controlType="number"
      step="0.1"
      min="0"
      class="col-md-6"
      data-test-weight=true
    }}
  </div>
  {{#bs-button
    type="primary"
    buttonType="submit"
    disabled=save.isRunning
    data-test-submit-button=true
  }}
    {{loading-button-text text="Save" isLoading=save.isRunning}}
  {{/bs-button}}
{{/bs-form}}