<main class="page-content">
  <div class="container xl">
    <div class="actions-subtitle">
      <h2>
        Raw Suppliers rates
      </h2>
      <ul class="actions">
        <TpIndexButtons
          @model={{this.model}}
          @tariffPlanId={{this.tariffPlanId}}
          @permittedFilters={{permittedFilters}}
          @refresh="refresh"
          @controller={{this}}
        />
        <li>
          <a role="button" data-test-resolve {{action "resolve"}}>
            <i class="material-icons circle btn btn-secondary">
              healing
            </i>
          </a>
        </li>
      </ul>
    </div>
    <TotalRecords @totalRecords={{meta.total_records}} />
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <SortHeader
                  @label="ID"
                  @key="id"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Prefix"
                  @key="prefix"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Supplier"
                  @key="supplierName"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Rate"
                  @key="rate"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Description"
                  @key="description"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Created at"
                  @key="insertedAt"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <td>
                  Actions
                </td>
              </tr>
            </thead>
            <tbody>
              {{#each model as |rate|}}
                <tr data-test-rate>
                  <td>
                    <LinkTo
                      @route="tariff-plan.raw-supplier-rates.raw-supplier-rate"
                      @model={{rate}}
                    >
                      {{rate.id}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.raw-supplier-rates.raw-supplier-rate"
                      @model={{rate}}
                    >
                      {{rate.prefix}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.raw-supplier-rates.raw-supplier-rate"
                      @model={{rate}}
                    >
                      {{rate.supplierName}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.raw-supplier-rates.raw-supplier-rate"
                      @model={{rate}}
                    >
                      {{rate.rate}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.raw-supplier-rates.raw-supplier-rate"
                      @model={{rate}}
                    >
                      {{rate.description}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.raw-supplier-rates.raw-supplier-rate"
                      @model={{rate}}
                    >
                      {{moment-format rate.insertedAt}}
                    </LinkTo>
                  </td>
                  <td class="actions">
                    <LinkTo
                      @route="tariff-plan.raw-supplier-rates.raw-supplier-rate.edit"
                      @model={{rate}}
                    >
                      <i
                        class="material-icons circle btn btn-primary"
                        data-test-supplier-rate-edit
                      >
                        edit
                      </i>
                    </LinkTo>
                    <a
                      role="button"
                      data-test-supplier-rate-remove
                      {{action "remove" rate}}
                    >
                      <i class="material-icons circle btn btn-danger">
                        remove
                      </i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <PageNumbers
          @content={{this.pagination}}
          @action={{action "toPage"}}
          @numPagesToShow={{4}}
        />
      </div>
      <div class="col-md-3">
        <FiltersBlock
          @search={{action "search"}}
          @activeFilters={{this.filters}} as |filtersBlock|
        >
          <FilterText
            @label="Prefix"
            @value={{filtersBlock.activeFilters.prefix}}
            data-test-filter-prefix
          />
          <FilterText
            @label="Supplier"
            @value={{filtersBlock.activeFilters.supplierName}}
            data-test-filter-supplier
          />
          <FilterNumber
            @label="rate"
            @value={{filtersBlock.activeFilters.rate}}
            @step="0.0001"
            @min="0"
            data-test-filter-rate
          />
          <FilterDate
            @label="from"
            @value={{filtersBlock.activeFilters.insertedAtGt}}
            data-test-filter-inserted-at-gt
          />
          <FilterDate
            @label="to"
            @value={{filtersBlock.activeFilters.insertedAtLt}}
            data-test-filter-inserted-at-lt
          />
        </FiltersBlock>
      </div>
    </div>
  </div>
</main>