<main class="page-content">
  <div class="container xl">
    <h1>
      General Statistic
    </h1>

    <h3>
      Filters
    </h3>

    <StatisticFilters @group={{this.group}} @onSubmit={{this.setFilters}} />

    <hr>

    {{#if this.fetchData.isRunning}}
      <i class="material-icons spinner">autorenew</i>
    {{else}}
      <h3>
        Calls&nbsp;
        <small data-test-total-calls class="text-muted">
          {{format-number this.totalCalls}}
        </small>
      </h3>

      <Statistics::CallsChart
        @cdrStats={{this.cdrStats}}
        @chartOptions={{this.chartOptions}}
      />

      <hr>

      <h3>
        ASR - <span data-test-avg-asr>{{format-number this.avgAsr}}</span>%
      </h3>

      <Statistics::AsrChart
        @cdrStats={{this.cdrStats}}
        @chartOptions={{this.chartOptions}}
      />

      <hr>

      <h3>
        ACD
        <small data-test-total-usage class="text-muted">
          {{format-number (timescale this.totalUsage "ns" "s")}} sec.
        </small>
      </h3>

      <Statistics::AcdChart
        @cdrStats={{this.cdrStats}}
        @chartOptions={{this.chartOptions}}
      />

      <hr>

      <h3>
        Overview
      </h3>

      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Answered</th>
            <th>Rejected</th>
            <th>Normal Clearing</th>
            <th>Errors</th>
            <th>ASR %</th>
            <th>Avg. Duration (sec)</th>
            <th>Total Duration (min)</th>
            <th>Cost $</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.cdrStats as |stat|}}
            <tr data-test-cdr-stat-row>
              <td>
                {{moment-format stat.date "YYYY-MM-DD"}}
              </td>
              <td>
                {{stat.answeredCount}}
              </td>
              <td>
                {{stat.totalRejectedDisconnects}}
              </td>
              <td>
                {{stat.totalNormalClearingDisconnects}}
              </td>
              <td>
                {{stat.unknownDisconnectsCount}}
              </td>
              <td>
                {{format-number stat.asr}} %
              </td>
              <td>
                {{format-number (timescale stat.usageAvg "ns" "s")}}
              </td>
              <td>
                {{format-number (timescale stat.totalUsage "ns" "m")}}
              </td>
              <td>
                {{format-number stat.totalCost}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</main>