<main class="page-content">
  <div class="container">
    <div class="actions-subtitle">
      <h2>
        TpAccountAction: {{this.model.id}}
      </h2>
      <ul class="actions">
        <li>
          <LinkTo
            @route="tariff-plan.tp-account-actions.tp-account-action.edit"
            @model={{this.model}}
          >
            <i class="material-icons circle btn btn-primary" data-test-edit>
              edit
            </i>
          </LinkTo>
        </li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <h5>
          Id
        </h5>
        <p>
          {{this.model.id}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Load ID
        </h5>
        <p>
          {{this.model.loadid}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Tenant
        </h5>
        <p>
          {{this.model.tenant}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Account
        </h5>
        <p>
          {{this.model.account}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Action plan tag
        </h5>
        <p>
          {{this.model.actionPlanTag}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Action triggers tag
        </h5>
        <p>
          {{this.model.actionTriggersTag}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Allow negative
        </h5>
        <p>
          {{this.model.allowNegative}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Disabled
        </h5>
        <p>
          {{this.model.disabled}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Created at
        </h5>
        <p>
          {{moment-format model.createdAt}}
        </p>
      </div>
    </div>
  </div>
</main>