<div ...attributes class="form-group">
  <label>
    {{@label}}
  </label>
  <PowerSelect
    @placeholder="..."
    @searchEnabled={{false}}
    @allowClear={{true}}
    @options={{@content}}
    @selected={{@value}}
    @onChange={{action (mut @value)}} as |item|
  >
    {{item}}
  </PowerSelect>
</div>