<div class="form-group">
  <label>
    {{label}}
  </label>
  {{#if multiple}}
    <PowerSelectMultiple
      @placeholder={{placeholder}}
      @searchEnabled={{true}}
      @allowClear={{true}}
      @selected={{valueWrapper}}
      @search={{perform searchTask}}
      @onchange={{action "onChange"}} as |item|
    >
      {{item}}
    </PowerSelectMultiple>
  {{else}}
    <PowerSelect
      @placeholder={{placeholder}}
      @searchEnabled={{true}}
      @allowClear={{true}}
      @selected={{valueWrapper}}
      @search={{perform searchTask}}
      @onchange={{action "onChange"}} as |item|
    >
      {{item}}
    </PowerSelect>
  {{/if}}
</div>