<div class="form-group">
  <label>
    {{@label}}
  </label>
  <PowerSelect
    @triggerId={{this.id}}
    @placeholder="..."
    @searchEnabled={{false}}
    @allowClear={{true}}
    @options={{@content}}
    @selected={{@valueWrapper}}
    @onchange={{action (mut this.valueWrapper)}} as |item|
  >
    {{item}}
  </PowerSelect>
</div>