<@form.element
  @label={{label}}
  @placeholder={{placeholder}}
  @property={{property}}
  @class={{class}}
  @data-test-input-interval={{dataTest}} as |el|
>
  <div class="input-interval">
    <el.control
      @value={{valueNumber}}
      @change={{action "change"}}
      @input={{action "input"}}
      @type="number"
      @step="1"
      @min="0"
    />
    <PowerSelect
      @placeholder="..."
      @searchEnabled={{false}}
      @allowClear={{false}}
      @options={{intervalUnits}}
      @selected={{currentIntervalUnit}}
      @class="ml-1"
      @onchange={{action "intervalChange"}} as |item|
    >
      {{item}}
    </PowerSelect>
  </div>
</@form.element>