<main class="page-content">
  <div class="container xl">
    <div class="actions-subtitle">
      <h2>TpDestinationRates list</h2>
      <ul class="actions">
        <li>
          {{tp-index-buttons
            model=model
            tariffPlanId=tariffPlanId
            permittedFilters=permittedFilters
            refresh='refresh'
            controller=this
          }}
        </li>
      </ul>
    </div>
    <div class="row">
      <div class=" col-md-9">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              {{sort-header label='ID' key='id' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Tag' key='tag' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy' data-test-sort-tag=true}}
              {{sort-header label='Rounding method' key='roundingMethod' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Rounding decimals' key='roundingDecimals' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Rates tag' key='ratesTag' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Max cost strategy' key='maxCostStrategy' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Max cost' key='maxCost' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Destinations tag' key='destinationsTag' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Created at' key='createdAt' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              <td>Actions</td>
            </tr>
            </thead>
            <tbody>
            {{#each model as |tpDestinationRate|}}
              <tr>
                <td>
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate' tpDestinationRate}}{{tpDestinationRate.id}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate' tpDestinationRate}}{{tpDestinationRate.tag}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate' tpDestinationRate}}{{tpDestinationRate.roundingMethod}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate' tpDestinationRate}}{{tpDestinationRate.roundingDecimals}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate' tpDestinationRate}}{{tpDestinationRate.ratesTag}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate' tpDestinationRate}}{{tpDestinationRate.maxCostStrategy}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate' tpDestinationRate}}{{tpDestinationRate.maxCost}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate' tpDestinationRate}}{{tpDestinationRate.destinationsTag}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate' tpDestinationRate}}{{moment-format tpDestinationRate.createdAt}}{{/link-to}}
                </td>
                <td class="actions">
                  {{#link-to 'tariff-plan.tp-destination-rates.tp-destination-rate.edit' tpDestinationRate}}
                    <i class="material-icons circle btn btn-primary" data-test-tp-destination-rate-edit>edit</i>
                  {{/link-to}}
                  <a {{action 'remove' tpDestinationRate}} class="ml-1">
                    <i class="material-icons circle btn btn-danger" data-test-tp-destination-rate-remove>remove</i>
                  </a>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
        {{page-numbers content=pagination action='toPage'}}
      </div>
      <div class="col-md-3">
        {{#filters-block search='search' as |filtersBlock|}}
          {{filter-text
            label='Tag'
            key='tag'
            value=tag
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-filter-tag=true
          }}
          {{filter-text
            label='Rates tag'
            key='ratesTag'
            value=ratesTag
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-filter-rates-tag=true
          }}
          {{filter-text
            label='Destinations tag'
            key='destinationsTag'
            value=destinationsTag
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-filter-destinations-tag=true
          }}
          {{filter-number
            label='Rounding decimals'
            key='roundingDecimals'
            value=roundingDecimals
            onValueChange=(action 'pushValue' target=filtersBlock)
            step='1'
            min='0'
            data-test-filter-rounding-decimals=true
          }}
          {{filter-number
            label='Max cost (decimal)'
            key='maxCost'
            value=maxCost
            onValueChange=(action 'pushValue' target=filtersBlock)
            step='0.0001'
            min='0'
            data-test-filter-max-cost=true
          }}
          {{filter-select
            label='Rounding method'
            key='roundingMethod'
            value=roundingMethod
            onValueChange=(action 'pushValue' target=filtersBlock)
            content=selectValues.roundingMethod
            data-test-filter-rounding-method=true
          }}
          {{filter-select
            label='Max cost strategy'
            key='maxCostStrategy'
            value=maxCostStrategy
            onValueChange=(action 'pushValue' target=filtersBlock)
            content=selectValues.maxCostStrategy
            data-test-filter-max-cost-strategy=true
          }}
        {{/filters-block}}
      </div>
    </div>
  </div>
</main>