<main class="page-content">
  <div class="container">
    <div class="actions-subtitle">
      <h2>
        TpRatingPlan: {{this.model.tag}}
      </h2>
      <ul class="actions">
        <li>
          <LinkTo
            @route="tariff-plan.tp-rating-plans.tp-rating-plan.edit"
            @model={{this.model}}
          >
            <i
              class="material-icons circle btn btn-primary"
              data-test-tp-rating-plan-edit
            >
              edit
            </i>
          </LinkTo>
        </li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <h5>
          Id
        </h5>
        <p>
          {{this.model.id}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Tag
        </h5>
        <p>
          {{this.model.tag}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Destination rates tag
        </h5>
        <p>
          {{this.model.destratesTag}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Timing tag
        </h5>
        <p>
          {{this.model.timingTag}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Weights
        </h5>
        <p>
          {{this.model.weight}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Created at
        </h5>
        <p>
          {{moment-format model.createdAt}}
        </p>
      </div>
    </div>
  </div>
</main>