{{#bs-form model=model onSubmit=(perform save) novalidate=true as |form|}}
  <div class='form-row'>
    {{form.element
      label='Tenant'
      property='tenant'
      class='col-md-6'
      data-test-tenant=true
    }}
    {{form.element
      label='ID'
      property='customId'
      class='col-md-6'
      data-test-custom-id=true
    }}
    {{input-select
      property='filterType'
      form=form
      label='Filter type'
      content=selectValues.filterTypes
      class='col-md-6'
      dataTest='filter-type'
    }}
    {{form.element
      label='Filter field name'
      property='filterFieldName'
      class='col-md-6'
      data-test-filter-field-name=true
    }}
    {{form.element
      label='Filter field values'
      property='filterFieldValues'
      class='col-md-6'
      data-test-filter-field-values=true
    }}
    {{form.element
      label='Activation interval'
      property='activationInterval'
      class='col-md-6'
      data-test-activation-interval=true
    }}
  </div>
  {{#bs-button
    type='primary'
    buttonType='submit'
    disabled=form.isSubmitting
    data-test-submit-button=true
  }}
    {{loading-button-text text='Save' isLoading=form.isSubmitting}}
  {{/bs-button}}
{{/bs-form}}