<main class="page-content">
  <div class="container">
    <div class="actions-subtitle">
      <h2>TpResource: {{model.customId}}</h2>
      <ul class="actions">
        <li>
          {{#link-to "tariff-plan.tp-resources.tp-resource.edit"}}
            <i class="material-icons circle btn btn-primary" data-test-edit>edit</i>
          {{/link-to}}
        </li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <h5>ID</h5>
        <p>{{model.id}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Tenant</h5>
        <p>{{model.tenant}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Custom ID</h5>
        <p>{{model.customId}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Filter IDs</h5>
        <p>{{model.filterIds}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Activation interval</h5>
        <p>{{model.activationInterval}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Usage ttl</h5>
        <p>{{model.usageTtl}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Limit</h5>
        <p>{{model.limit}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Allocation message</h5>
        <p>{{model.allocationMessage}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Blocker</h5>
        <p>{{model.blocker}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Stored</h5>
        <p>{{model.stored}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Weight</h5>
        <p>{{model.weight}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Threshold ids</h5>
        <p>{{model.thresholdIds}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Created at</h5>
        <p>{{moment-format model.createdAt}}</p>
      </div>
    </div>
  </div>
</main>