<main class="page-content">
  <div class="container xl">
    <div class="actions-subtitle">
      <ul class="actions">
        <li>
          {{#link-to "realtime.accounts.new"}}
            <i class="material-icons circle btn btn-success" data-test-account-add>add</i>
          {{/link-to}}
        </li>
      </ul>
    </div>
    <div class="row">
      <div class=" col-md-12">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <td>ID</td>
                <td>Balance</td>
                <td>Allow negative</td>
                <td>Disabled</td>
                <td>Actions</td>
              </tr>
            </thead>
            <tbody>
              {{#each sortedAccounts as |account|}}
                <tr>
                  <td>
                    {{#link-to "realtime.accounts.account" account}}{{account.id}}{{/link-to}}
                  </td>
                  <td>
                    {{#link-to "realtime.accounts.account" account}}{{account.balance}}{{/link-to}}
                  </td>
                  <td>
                    {{#link-to "realtime.accounts.account" account}}
                      {{#if account.allowNegative}}
                        <i class="material-icons text-success">check</i>
                      {{else}}
                        <i class="material-icons text-danger">clear</i>
                      {{/if}}
                    {{/link-to}}
                  </td>
                  <td>
                    {{#link-to "realtime.accounts.account" account}}
                      {{#if account.disabled}}
                        <i class="material-icons text-success">check</i>
                      {{else}}
                        <i class="material-icons text-danger">clear</i>
                      {{/if}}
                    {{/link-to}}
                  </td>
                  <td class="actions">
                    <a {{action "remove" account}} role="button">
                      <i class="material-icons circle btn btn-danger" data-test-account-remove>remove</i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        {{page-numbers content=pagination action="toPage" showFL=true numPagesToShow=4}}
      </div>
    </div>
  </div>
</main>