<h2>
  New account
</h2>
<hr>
<BsForm
  @model={{this.model}}
  @onSubmit={{action "save"}}
  novalidate={{true}} as |form|
>
  <form.element
    @label="ID"
    @property="account"
    @class="col-md-6"
    data-test-id={{true}}
  />
  <BsButton
    @defaultText="Save"
    @type="primary"
    @buttonType="submit"
    data-test-submit-button={{true}}
  />
</BsForm>