{{#bs-form model=model onSubmit=(perform save) novalidate=true as |form|}}
  <div class='form-row'>
    {{form.element
      label='Load ID'
      property='loadid'
      class='col-md-6'
      data-test-loadid=true
    }}
    {{input-select
      property='direction'
      form=form
      label='Direction'
      content=selectValues.direction
      class='col-md-6'
      dataTest='direction'
    }}
    {{form.element
      label='Tenant'
      property='tenant'
      class='col-md-6'
      data-test-tenant=true
    }}
    {{form.element
      label='Category'
      property='category'
      class='col-md-6'
      data-test-category=true
    }}
    {{form.element
      label='Subject'
      property='subject'
      class='col-md-6'
      data-test-subject=true
    }}
    {{form.element
      label='Fallback subjects'
      property='fallbackSubjects'
      class='col-md-6'
      data-test-fallback-subjects=true
    }}
    {{form.element
      label='Activation time'
      property='activationTime'
      class='col-md-6'
      data-test-activation-time=true
    }}
    {{form.element
      label='CDR stat queue IDs'
      property='cdrStatQueueIds'
      class='col-md-6'
      data-test-cdr-stat-queue-ids=true
    }}
    {{input-tags
      property='ratingPlanTag'
      form=form label='Rating plan tag'
      modelName='tp-rating-plan'
      tpid=model.tpid
      class='col-md-6'
      dataTest='tp-rating-plan'
    }}
  </div>
  {{#bs-button
    type='primary'
    buttonType='submit'
    disabled=save.isRunning
    data-test-submit-button=true
  }}
    {{loading-button-text text='Save' isLoading=save.isRunning}}
  {{/bs-button}}
{{/bs-form}}