<main class="page-content">
  <div class="container xl">
    <div class="actions-subtitle">
      <h2>
        TpRatingProfiles list
      </h2>
      <ul class="actions">
        <TpIndexButtons
          @model={{this.model}}
          @tariffPlanId={{this.tariffPlanId}}
          @permittedFilters={{permittedFilters}}
          @refresh="refresh"
          @controller={{this}}
        />
      </ul>
    </div>
    <TotalRecords @totalRecords={{meta.total_records}} />
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <SortHeader
                  @label="ID"
                  @key="id"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Load ID"
                  @key="loadid"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Direction"
                  @key="direction"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Tenant"
                  @key="tenant"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                  data-test-sort-tenant={{true}}
                />
                <SortHeader
                  @label="Category"
                  @key="category"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Subject"
                  @key="subject"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Fallback subjects"
                  @key="fallbackSubjects"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Activation time"
                  @key="activationTime"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="CDR stat queue IDs"
                  @key="cdrStatQueueIds"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Rating plan tag"
                  @key="ratingPlanTag"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Created at"
                  @key="createdAt"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <td>
                  Actions
                </td>
              </tr>
            </thead>
            <tbody>
              {{#each model as |tpRatingProfile|}}
                <tr>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.id}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.loadid}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.direction}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.tenant}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.category}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.subject}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.fallbackSubjects}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.activationTime}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.cdrStatQueueIds}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{tpRatingProfile.ratingPlanTag}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile"
                      @model={{tpRatingProfile}}
                    >
                      {{moment-format tpRatingProfile.createdAt}}
                    </LinkTo>
                  </td>
                  <td class="actions">
                    <LinkTo
                      @route="tariff-plan.tp-rating-profiles.tp-rating-profile.edit"
                      @model={{tpRatingProfile}}
                    >
                      <i
                        class="material-icons circle btn btn-primary"
                        data-test-rating-profile-edit
                      >
                        edit
                      </i>
                    </LinkTo>
                    <a
                      class="ml-1"
                      role="button"
                      {{action "remove" tpRatingProfile}}
                    >
                      <i
                        class="material-icons circle btn btn-danger"
                        data-test-rating-profile-remove
                      >
                        remove
                      </i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <PageNumbers
          @content={{this.pagination}}
          @action={{action "toPage"}}
          @numPagesToShow={{4}}
        />
      </div>
      <div class="col-md-3">
        <FiltersBlock
          @search={{action "search"}}
          @activeFilters={{this.filters}} as |filtersBlock|
        >
          <FilterText
            @label="Load ID"
            @value={{filtersBlock.activeFilters.loadid}}
            data-test-filter-loadid
          />
          <FilterSelect
            @label="Direction"
            @value={{filtersBlock.activeFilters.direction}}
            @content={{selectValues.direction}}
            data-test-filter-direction={{true}}
          />
          <FilterText
            @label="Tenant"
            @value={{filtersBlock.activeFilters.tenant}}
            data-test-filter-tenant
          />
          <FilterText
            @label="Category"
            @key="category"
            @value={{filtersBlock.activeFilters.category}}
            data-test-filter-category
          />
          <FilterText
            @label="Subject"
            @value={{filtersBlock.activeFilters.subject}}
            data-test-filter-subject
          />
          <FilterText
            @label="Fallback subjects"
            @value={{filtersBlock.activeFilters.fallbackSubjects}}
            data-test-filter-fallback-subjects
          />
          <FilterText
            @label="Activation time"
            @value={{filtersBlock.activeFilters.activationTime}}
            data-test-filter-activation-time
          />
          <FilterText
            @label="CDR stat queue IDs"
            @value={{filtersBlock.activeFilters.cdrStatQueueIds}}
            data-test-filter-cdr-stat-queue-ids
          />
          <FilterText
            @label="Rating plan tag"
            @value={{filtersBlock.activeFilters.ratingPlanTag}}
            data-test-filter-rating-plan-tags
          />
        </FiltersBlock>
      </div>
    </div>
  </div>
</main>