<main class="page-content">
  <div class="container xxl">
    <div class="actions-subtitle">
      <h2>
        TpActionTriggers list
      </h2>
      <ul class="actions">
        <TpIndexButtons
          @model={{model}}
          @tariffPlanId={{tariffPlanId}}
          @permittedFilters={{permittedFilters}}
          @refresh="refresh"
          @controller={{this}}
        />
      </ul>
    </div>
    <TotalRecords @totalRecords={{meta.total_records}} />
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <SortHeader
                  @label="ID"
                  @key="id"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Tag"
                  @key="tag"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                  @data-test-sort-tag={{true}}
                />
                <SortHeader
                  @label="Unique ID"
                  @key="uniqueId"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Threshold type"
                  @key="thresholdType"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Threshold value"
                  @key="thresholdValue"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="recurrent"
                  @key="recurrent"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Min sleep"
                  @key="minSleep"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Expiry time"
                  @key="expiryTime"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Activation time"
                  @key="activationTime"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Balance tag"
                  @key="balanceTag"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Balance type"
                  @key="balanceType"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Min queued items"
                  @key="minQueuedItems"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Actions tag"
                  @key="actionsTag"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Weight"
                  @key="weight"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Created at"
                  @key="createdAt"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <td>
                  Actions
                </td>
              </tr>
            </thead>
            <tbody>
              {{#each model as |tpActionTrigger|}}
                <tr>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.id}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.tag}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.uniqueId}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.thresholdType}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.thresholdValue}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.recurrent}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.minSleep}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.expiryTime}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.activationTime}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.balanceTag}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.balanceType}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.minQueuedItems}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.actionsTag}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{tpActionTrigger.weight}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger"
                      @model={{tpActionTrigger}}
                    >
                      {{moment-format tpActionTrigger.createdAt}}
                    </LinkTo>
                  </td>
                  <td class="actions">
                    <LinkTo
                      @route="tariff-plan.tp-action-triggers.tp-action-trigger.edit"
                      @model={{tpActionTrigger}}
                    >
                      <i
                        class="material-icons circle btn btn-primary"
                        data-test-action-trigger-edit
                      >
                        edit
                      </i>
                    </LinkTo>
                    <a
                      class="ml-1"
                      role="button"
                      {{action "remove" tpActionTrigger}}
                    >
                      <i
                        class="material-icons circle btn btn-danger"
                        data-test-action-trigger-remove
                      >
                        remove
                      </i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <PageNumbers
          @content={{pagination}}
          @action="toPage"
          @showFL={{true}}
          @numPagesToShow={{4}}
        />
      </div>
      <div class="col-md-3">
        <FiltersBlock @search={{action "search"}} as |filtersBlock|>
          <FilterText
            @label="Tag"
            @key="tag"
            @value={{tag}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @data-test-filter-tag={{true}}
          />
          <FilterText
            @label="Unique id"
            @key="uniqueId"
            @value={{uniqueId}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @data-test-filter-unique-id={{true}}
          />
          <FilterSelect
            @label="Threshold type"
            @key="thresholdType"
            @value={{thresholdType}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @content={{selectValues.thresholdType}}
            @data-test-filter-threshold-type={{true}}
          />
          <FilterNumber
            @label="Threshold value"
            @key="thresholdValue"
            @value={{thresholdValue}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @min="0"
            @data-test-filter-threshold-value={{true}}
          />
          <FilterSelect
            @label="Recurrent"
            @key="recurrent"
            @value={{recurrent}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @content={{selectValues.boolean}}
            @data-test-filter-recurrent={{true}}
          />
          <FilterText
            @label="Min sleep"
            @key="minSleep"
            @value={{minSleep}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @data-test-filter-min-sleep={{true}}
          />
          <FilterText
            @label="Expiry time"
            @key="expiryTime"
            @value={{expiryTime}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @data-test-filter-expiry-time={{true}}
          />
          <FilterText
            @label="Activation time"
            @key="activationTime"
            @value={{activationTime}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @data-test-filter-activation-time={{true}}
          />
          <FilterSelect
            @label="Balance tag"
            @key="balanceTag"
            @value={{balanceTag}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @content={{selectValues.balanceTag}}
            @data-test-filter-balance-tag={{true}}
          />
          <FilterSelect
            @label="Balance type"
            @key="balanceType"
            @value={{balanceType}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @content={{selectValues.balanceType}}
            @data-test-filter-balance-type={{true}}
          />
          <FilterNumber
            @label="Min queued items"
            @key="minQueuedItems"
            @value={{minQueuedItems}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @step="0.1"
            @min="0"
            @data-test-filter-min-queued-items={{true}}
          />
          <FilterSelectSearchToString
            @label="Actions tag"
            @key="actionsTag"
            @value={{actionsTag}}
            @searchModel="tp-action"
            @searchField="tag"
            @tpid={{tariffPlanId}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @data-test-filter-actions-tag={{true}}
          />
          <FilterNumber
            @label="Weight"
            @key="weight"
            @value={{weight}}
            @onValueChange={{action "pushValue" target=filtersBlock}}
            @step="0.1"
            @min="0"
            @data-test-filter-weight={{true}}
          />
        </FiltersBlock>
      </div>
    </div>
  </div>
</main>