<main class="page-content">
  <div class="container">
    <div class="actions-subtitle">
      <h2>
        TpDerivedCharger: {{this.model.id}}
      </h2>
      <ul class="actions">
        <li>
          <LinkTo
            @route="tariff-plan.tp-derived-chargers.tp-derived-charger.edit"
            @model={{this.model}}
          >
            <i class="material-icons circle btn btn-primary" data-test-edit>
              edit
            </i>
          </LinkTo>
        </li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <h5>
          ID
        </h5>
        <p>
          {{this.model.id}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Load ID
        </h5>
        <p>
          {{this.model.loadid}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Direction
        </h5>
        <p>
          {{this.model.direction}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Tenant
        </h5>
        <p>
          {{this.model.tenant}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Category
        </h5>
        <p>
          {{this.model.category}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Subject
        </h5>
        <p>
          {{this.model.subject}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Destination tags
        </h5>
        <p>
          {{this.model.destinationIds}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Run ID
        </h5>
        <p>
          {{this.model.runid}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Run filters
        </h5>
        <p>
          {{this.model.runFilters}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Req type field
        </h5>
        <p>
          {{this.model.reqTypeField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Direction field
        </h5>
        <p>
          {{this.model.directionField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Tenant field
        </h5>
        <p>
          {{this.model.tenantField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Category field
        </h5>
        <p>
          {{this.model.categoryField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Account field
        </h5>
        <p>
          {{this.model.accountField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Subject field
        </h5>
        <p>
          {{this.model.subjectField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Destination field
        </h5>
        <p>
          {{this.model.destinationField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Setup time field
        </h5>
        <p>
          {{this.model.setupTimeField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Pdd field
        </h5>
        <p>
          {{this.model.pddField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Answer time field
        </h5>
        <p>
          {{this.model.answerTimeField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Usage field
        </h5>
        <p>
          {{this.model.usageField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Supplier field
        </h5>
        <p>
          {{this.model.supplierField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Disconnect cause field
        </h5>
        <p>
          {{this.model.disconnectCauseField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Rated field
        </h5>
        <p>
          {{this.model.ratedField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Cost field
        </h5>
        <p>
          {{this.model.costField}}
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5>
          Created at
        </h5>
        <p>
          {{moment-format model.createdAt}}
        </p>
      </div>
    </div>
  </div>
</main>