<main class="page-content">
  <div class="container">
    <div class="actions-subtitle">
      <h2>Raw supplier rate: {{model.id}}</h2>
      <ul class="actions">
        <li>
          {{#link-to "tariff-plan.raw-supplier-rates.raw-supplier-rate.edit"}}
            <i class="material-icons circle btn btn-primary" data-test-supplier-rate-edit>edit</i>
          {{/link-to}}
        </li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <h5>Rate</h5>
        <p>{{model.rate}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Prefix</h5>
        <p>{{model.prefix}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Supplier name</h5>
        <p>{{model.supplierName}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Description</h5>
        <p>{{model.description}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Created at</h5>
        <p>{{moment-format model.insertedAt}}</p>
      </div>
    </div>
  </div>
</main>