<section class="page-header">
  <h1 class="page-title container">
    CDR: {{this.model.id}}
  </h1>
</section>
<main class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Id</h5>
        <p>{{this.model.id}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>CGRatesID</h5>
        <p>{{this.model.cgrid}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Run ID</h5>
        <p>{{this.model.runId}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Origin host</h5>
        <p>{{this.model.originHost}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Source</h5>
        <p>{{this.model.source}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Origin ID</h5>
        <p>{{this.model.originId}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Type of record</h5>
        <p>{{this.model.tor}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Request type</h5>
        <p>{{this.model.requestType}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Tenant</h5>
        <p>{{this.model.tenant}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Category</h5>
        <p>{{this.model.category}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Account</h5>
        <p>{{this.model.account}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Subject</h5>
        <p>{{this.model.subject}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Destination</h5>
        <p>{{this.model.destination}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Setup time</h5>
        <p>{{moment-format model.setupTime}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Answer time</h5>
        <p>{{moment-format model.answerTime}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Usage</h5>
        <p>{{this.model.usage}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Cost source</h5>
        <p>{{this.model.costSource}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Cost</h5>
        <p>{{this.model.cost}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Extra info</h5>
        <p>{{this.model.extraInfo}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Created at</h5>
        <p>{{moment-format model.createdAt}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Updated at</h5>
        <p>{{moment-format model.updatedAt}}</p>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h5>Deleted at</h5>
        <p data-test-deleted-at>
          {{#if model.deletedAt}}
            {{moment-format model.deletedAt}}
          {{else}}
            <i class="material-icons">remove</i>-
          {{/if}}
        </p>
      </div>
      <div class="col-12">
        <h5>Extra fields (json)</h5>
        <p data-test-extra-fields>
          {{#if model.extraFieldsObj}}
            <JsonPretty @obj={{this.model.extraFieldsObj}} />
          {{else}}
            Not present
          {{/if}}
        </p>
      </div>
      <div class="col-12">
        <h5>Cost details (json)</h5>
        <p>
          {{#if model.costDetailsObj}}
            <JsonPretty @obj={{this.model.costDetailsObj}} />
          {{else}}
            Not present
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</main>