<section class="page-header">
  <h1 class="page-title container">
    CDRs
  </h1>
</section>
<main class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class=" col-md-9">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              {{sort-header label='ID'             key='id'          sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='CGRateS ID'     key='cgrid'       sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy' data-test-sort-cgrid=true}}
              {{sort-header label='Run ID'         key='runId'       sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Origin Host'    key='originHost'  sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Source'         key='source'      sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Origin ID'      key='originId'    sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Type of record' key='tor'         sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Direction'      key='direction'   sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Tenant'         key='tenant'      sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Category'       key='category'    sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Account'        key='account'     sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Destination'    key='destination' sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Cost'           key='cost'        sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Created at'     key='createdAt'   sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Updated at'     key='updatedAt'   sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
              {{sort-header label='Deleted at'     key='deletedAt'   sortColumn=sortColumn sortOrder=sortOrder sortAction='sortBy'}}
            </tr>
            </thead>
            <tbody>
            {{#each model as |cdr|}}
              <tr>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.id}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.cgrid}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.runId}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.originHost}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.source}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.originId}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.tor}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.direction}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.tenant}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.category}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.account}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.destination}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{cdr.cost}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{moment-format cdr.createdAt}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}{{moment-format cdr.updatedAt}}{{/link-to}}
                </td>
                <td>
                  {{#link-to 'cdrs.cdr' cdr}}
                    {{#if cdr.deletedAt}}
                      {{moment-format cdr.deletedAt}}
                    {{/if}}
                  {{/link-to}}
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
        </div>
        {{page-numbers content=pagination action='toPage'}}
      </div>
      <div class="col-md-3">
        {{#filters-block search=(action 'search') as |filtersBlock|}}
          {{filter-text
            label='CGRateS ID'
            key='cgrid'
            value=cgrid
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-cgrid=true
          }}
          {{filter-text
            label='Run ID'
            key='runId'
            value=runId
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-runid=true
          }}
          {{filter-text
            label='Origin Host'
            key='originHost'
            value=originHost
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-origin-host=true
          }}
          {{filter-text
            label='Source'
            key='source'
            value=source
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-source=true
          }}
          {{filter-text
            label='Origin ID'
            key='originId'
            value=originId
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-origin-id=true
          }}
          {{filter-select
            label='Type of record'
            key='tor'
            value=tor
            onValueChange=(action 'pushValue' target=filtersBlock)
            content=selectValues.typeOfRecord
            data-test-filter-tor=true
          }}
          {{filter-text
            label='Tenant'
            key='tenant'
            value=tenant
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-tenant=true
          }}
          {{filter-text
            label='Category'
            key='category'
            value=category
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-category=true
          }}
          {{filter-text
            label='Account'
            key='account'
            value=account
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-account=true
          }}
          {{filter-text
            label='Destination'
            key='destination'
            value=destination
            onValueChange=(action 'pushValue' target=filtersBlock)
            data-test-destination=true
          }}
        {{/filters-block}}
      </div>
    </div>
  </div>
</main>