<main class="page-content">
  <div class="container xl">
    <div class="actions-subtitle">
      <h2>
        TpChargers list
      </h2>
      <ul class="actions">
        <TpIndexButtons
          @model={{this.model}}
          @tariffPlanId={{this.tariffPlanId}}
          @permittedFilters={{permittedFilters}}
          @refresh="refresh"
          @controller={{this}}
        />
      </ul>
    </div>
    <TotalRecords @totalRecords={{meta.total_records}} />
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <SortHeader
                  @label="ID"
                  @key="id"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Tenant"
                  @key="tenant"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                  data-test-sort-tenant={{true}}
                />
                <SortHeader
                  @label="Custom ID"
                  @key="customId"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Filter IDs"
                  @key="filterIds"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Activation interval"
                  @key="activationInterval"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Run ID"
                  @key="runId"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Attribute IDs"
                  @key="attributeIds"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Weight"
                  @key="weight"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <SortHeader
                  @label="Created at"
                  @key="createdAt"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction={{action "sortBy"}}
                />
                <td>
                  Actions
                </td>
              </tr>
            </thead>
            <tbody>
              {{#each model as |tpCharger|}}
                <tr>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger"
                      @model={{tpCharger}}
                    >
                      {{tpCharger.id}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger"
                      @model={{tpCharger}}
                    >
                      {{tpCharger.tenant}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger"
                      @model={{tpCharger}}
                    >
                      {{tpCharger.customId}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger"
                      @model={{tpCharger}}
                    >
                      {{tpCharger.filterIds}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger"
                      @model={{tpCharger}}
                    >
                      {{tpCharger.activationInterval}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger"
                      @model={{tpCharger}}
                    >
                      {{tpCharger.runId}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger"
                      @model={{tpCharger}}
                    >
                      {{tpCharger.attributeIds}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger"
                      @model={{tpCharger}}
                    >
                      {{tpCharger.weight}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger"
                      @model={{tpCharger}}
                    >
                      {{moment-format tpCharger.createdAt}}
                    </LinkTo>
                  </td>
                  <td class="actions">
                    <LinkTo
                      @route="tariff-plan.tp-chargers.tp-charger.edit"
                      @model={{tpCharger}}
                    >
                      <i
                        class="material-icons circle btn btn-primary"
                        data-test-tp-charger-edit
                      >
                        edit
                      </i>
                    </LinkTo>
                    <a class="ml-1" role="button" {{action "remove" tpCharger}}>
                      <i
                        class="material-icons circle btn btn-danger"
                        data-test-tp-charger-remove
                      >
                        remove
                      </i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <PageNumbers
          @content={{this.pagination}}
          @action={{action "toPage"}}
          @numPagesToShow={{4}}
        />
      </div>
      <div class="col-md-3">
        <FiltersBlock
          @search={{action "search"}}
          @activeFilters={{this.filters}} as |filtersBlock|
        >
          <FilterText
            @label="Tenant"
            @value={{filtersBlock.activeFilters.tenant}}
            data-test-filter-tenant={{true}}
          />
          <FilterText
            @label="Custom ID"
            @value={{filtersBlock.activeFilters.customId}}
            data-test-filter-customid
          />
          <FilterText
            @label="Filter IDs"
            @value={{filtersBlock.activeFilters.filterIds}}
            data-test-filter-filter-ids
          />
          <FilterText
            @label="Activation interval"
            @value={{filtersBlock.activeFilters.activationInterval}}
            data-test-filter-activation-interval
          />
          <FilterText
            @label="Run ID"
            @value={{filtersBlock.activeFilters.runId}}
            data-test-filter-run-id
          />
          <FilterText
            @label="Attribute IDs"
            @value={{filtersBlock.activeFilters.attributeIds}}
            data-test-filter-attribute-ids
          />
          <FilterNumber
            @label="Weight"
            @value={{filtersBlock.activeFilters.weight}}
            @step="0.1"
            @min="0"
            data-test-filter-weight
          />
        </FiltersBlock>
      </div>
    </div>
  </div>
</main>