<main class="page-content">
  <div class="container">
    <div class="actions-subtitle">
      <h2>TpSharedGroup: {{this.model.tag}}</h2>
      <ul class="actions">
        <li>
          <LinkTo @route="tariff-plan.tp-shared-groups.tp-shared-group.edit">
            <i class="material-icons circle btn btn-primary" data-test-edit>edit</i>
          </LinkTo>
        </li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <h5>ID</h5>
        <p>{{this.model.id}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Tag</h5>
        <p>{{this.model.tag}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Account</h5>
        <p>{{this.model.account}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Strategy</h5>
        <p>{{this.model.strategy}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Rating subject</h5>
        <p>{{this.model.ratingSubject}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Created at</h5>
        <p>{{moment-format model.createdAt}}</p>
      </div>
    </div>
  </div>
</main>