<h2>
  Add balance
</h2>
<hr>
<BsForm
  @model={{this.model}}
  @onSubmit={{action "save"}}
  novalidate={{true}} as |form|
>
  <div class="form-row">
    <form.element
      @label="Balance type"
      @property="balanceType"
      @class="col-md-6"
      data-test-balance-type={{true}}
    />
    <form.element
      @label="Value"
      @property="value"
      @class="col-md-6"
      data-test-value={{true}}
    />
  </div>
  <BsButton
    @defaultText="Save"
    @type="primary"
    @buttonType="submit"
    data-test-submit-button={{true}}
  />
</BsForm>