<h2>
  Add balance
</h2>
<hr>
<BsForm
  @model={{this.model}}
  @onSubmit={{action "save"}}
  @novalidate={{true}} as |form|
>
  <div class="form-row">
    <form.element
      @label="Balance type"
      @property="balanceType"
      @class="col-md-6"
      data-test-balance-type={{true}}
    />
    <form.element
      @label="Directions"
      @property="directions"
      @class="col-md-6"
      data-test-directions={{true}}
    />
    <form.element
      @label="Value"
      @property="value"
      @class="col-md-6"
      data-test-value={{true}}
    />
    <form.element
      @label="Weight"
      @property="weight"
      @controlType="number"
      @step="0.1"
      @min="0"
      @class="col-md-6"
      data-test-weight={{true}}
    />
    <form.element
      @label="Balance UUID"
      @property="balanceUuid"
      @class="col-md-6"
      data-test-balance-uuid={{true}}
    />
    <form.element
      @label="Balance ID"
      @property="balanceId"
      @class="col-md-6"
      data-test-balance-id={{true}}
    />
    <form.element
      @label="Expiry time"
      @property="expiryTime"
      @class="col-md-6"
      data-test-expiry-time={{true}}
    />
    <form.element
      @label="Rating subject"
      @property="ratingSubject"
      @class="col-md-6"
      data-test-rating-subject={{true}}
    />
    <form.element
      @label="Categories"
      @property="categories"
      @class="col-md-6"
      data-test-categories={{true}}
    />
    <form.element
      @label="Destination IDs"
      @property="destinationIds"
      @class="col-md-6"
      data-test-destination-ids={{true}}
    />
    <form.element
      @label="Timing IDs"
      @property="timingIds"
      @class="col-md-6"
      data-test-timing-ids={{true}}
    />
    <form.element
      @label="Shared groups"
      @property="sharedGroups"
      @class="col-md-6"
      data-test-shared-groups={{true}}
    />
    <div class="ml-3 mb-2">
      <form.element
        @label="Overwrite"
        @property="overwrite"
        @controlType="checkbox"
        data-test-overwrite={{true}}
      />
      <form.element
        @label="Blocker"
        @property="blocker"
        @controlType="checkbox"
        data-test-blocker={{true}}
      />
      <form.element
        @label="Disabled"
        @property="disabled"
        @controlType="checkbox"
        data-test-disabled={{true}}
      />
    </div>
  </div>
  <BsButton
    @defaultText="Save"
    @type="primary"
    @buttonType="submit"
    data-test-submit-button={{true}}
  />
</BsForm>