<main class="page-content">
  <div class="container xl">
    <div class="actions-subtitle">
      <h2>
        TpRates list
      </h2>
      <ul class="actions">
        <TpIndexButtons
          @model={{this.model}}
          @tariffPlanId={{this.tariffPlanId}}
          @permittedFilters={{permittedFilters}}
          @refresh="refresh"
          @controller={{this}}
        />
      </ul>
    </div>
    <TotalRecords
      @totalRecords={{meta.total_records}}
      @activeFilters={{this.filters}}
    />
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <SortHeader
                  @label="ID"
                  @key="id"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Tag"
                  @key="tag"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                  @data-test-sort-tag={{true}}
                />
                <SortHeader
                  @label="Rate unit"
                  @key="rateUnit"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Rate increment"
                  @key="rateIncrement"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Rate"
                  @key="rate"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Group interval start"
                  @key="groupIntervalStart"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Connect fee"
                  @key="connectFee"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Created at"
                  @key="createdAt"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <td>
                  Actions
                </td>
              </tr>
            </thead>
            <tbody>
              {{#each model as |tpRate|}}
                <tr>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rates.tp-rate"
                      @model={{tpRate}}
                    >
                      {{tpRate.id}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rates.tp-rate"
                      @model={{tpRate}}
                    >
                      {{tpRate.tag}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rates.tp-rate"
                      @model={{tpRate}}
                    >
                      {{tpRate.rateUnit}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rates.tp-rate"
                      @model={{tpRate}}
                    >
                      {{tpRate.rateIncrement}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rates.tp-rate"
                      @model={{tpRate}}
                    >
                      {{tpRate.rate}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rates.tp-rate"
                      @model={{tpRate}}
                    >
                      {{tpRate.groupIntervalStart}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rates.tp-rate"
                      @model={{tpRate}}
                    >
                      {{tpRate.connectFee}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-rates.tp-rate"
                      @model={{tpRate}}
                    >
                      {{moment-format tpRate.createdAt}}
                    </LinkTo>
                  </td>
                  <td class="actions">
                    <LinkTo
                      @route="tariff-plan.tp-rates.tp-rate.edit"
                      @model={{tpRate}}
                    >
                      <i
                        class="material-icons circle btn btn-primary"
                        data-test-tp-rate-edit
                      >
                        edit
                      </i>
                    </LinkTo>
                    <a class="ml-1" role="button" {{action "remove" tpRate}}>
                      <i
                        class="material-icons circle btn btn-danger"
                        data-test-tp-rate-remove
                      >
                        remove
                      </i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <PageNumbers
          @content={{this.pagination}}
          @action={{action "toPage"}}
          @numPagesToShow={{4}}
        />
      </div>
      <div class="col-md-3">
        <FiltersBlock @search={{action "search"}} as |filtersBlock|>
          <FilterText
            @label="Tag"
            @value={{filtersBlock.activeFilters.tag}}
            data-test-filter-tag
          />
          <FilterSeconds
            @label="Rate unit"
            @value={{filtersBlock.activeFilters.rateUnit}}
            @data-test-filter-rate-unit={{true}}
          />
          <FilterSeconds
            @label="Rate increment"
            @value={{filtersBlock.activeFilters.rateIncrement}}
            @data-test-filter-rate-increment={{true}}
          />
          <FilterNumber
            @label="Rate (value)"
            @value={{filtersBlock.activeFilters.rate}}
            @step="0.0001"
            @min="0"
            data-test-filter-rate
          />
          <FilterSeconds
            @label="Group interval start"
            @value={{filtersBlock.activeFilters.groupIntervalStart}}
            @data-test-filter-group-interval-start={{true}}
          />
          <FilterNumber
            @label="Connect fee"
            @value={{filtersBlock.activeFilters.connectFee}}
            @step="0.0001"
            @min="0"
            data-test-filter-connect-fee
          />
        </FiltersBlock>
      </div>
    </div>
  </div>
</main>