<main class="page-content">
  <div class="container xl">
    <div class="actions-subtitle">
      <h2>
        TpActions list
      </h2>
      <ul class="actions">
        <TpIndexButtons
          @model={{this.model}}
          @tariffPlanId={{this.tariffPlanId}}
          @permittedFilters={{permittedFilters}}
          @refresh="refresh"
          @controller={{this}}
        />
      </ul>
    </div>
    <TotalRecords @totalRecords={{meta.total_records}} />
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <SortHeader
                  @label="ID"
                  @key="id"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Tag"
                  @key="tag"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                  data-test-sort-tag={{true}}
                />
                <SortHeader
                  @label="Action"
                  @key="action"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Balance tag"
                  @key="balanceTag"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Balance type"
                  @key="balanceType"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Directions"
                  @key="directions"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Units"
                  @key="units"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Expiry time"
                  @key="expiryTime"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Timing tags"
                  @key="timingTags"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Destination tags"
                  @key="destinationTags"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Rating subject"
                  @key="ratingSubject"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Categories"
                  @key="categories"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Shared groups"
                  @key="sharedGroups"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Balance weight"
                  @key="balanceWeight"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Balance blocker"
                  @key="balanceBlocker"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Balance disabled"
                  @key="balanceDisabled"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Weight"
                  @key="weight"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Created at"
                  @key="createdAt"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <td>
                  Actions
                </td>
              </tr>
            </thead>
            <tbody>
              {{#each model as |tpAction|}}
                <tr>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.id}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.tag}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.action}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.balanceTag}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.balanceType}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.directions}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.units}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.expiryTime}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.timingTags}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.destinationTags}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.ratingSubject}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.categories}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.sharedGroups}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.balanceWeight}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.balanceBlocker}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.balanceDisabled}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{tpAction.weight}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action"
                      @model={{tpAction}}
                    >
                      {{moment-format tpAction.createdAt}}
                    </LinkTo>
                  </td>
                  <td class="actions">
                    <LinkTo
                      @route="tariff-plan.tp-actions.tp-action.edit"
                      @model={{tpAction}}
                    >
                      <i
                        class="material-icons circle btn btn-primary"
                        data-test-tp-action-edit
                      >
                        edit
                      </i>
                    </LinkTo>
                    <a class="ml-1" role="button" {{action "remove" tpAction}}>
                      <i
                        class="material-icons circle btn btn-danger"
                        data-test-tp-action-remove
                      >
                        remove
                      </i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <PageNumbers
          @content={{this.pagination}}
          @action={{action "toPage"}}
          @numPagesToShow={{4}}
        />
      </div>
      <div class="col-md-3">
        <FiltersBlock
          @search={{action "search"}}
          @activeFilters={{this.filters}} as |filtersBlock|
        >
          <FilterText
            @label="Tag"
            @value={{filtersBlock.activeFilters.tag}}
            data-test-filter-tag
          />

          <FilterSelect
            @label="Action"
            @value={{filtersBlock.activeFilters.action}}
            @content={{selectValues.action}}
            data-test-filter-action={{true}}
          />

          <FilterText
            @label="Balance tag"
            @value={{filtersBlock.activeFilters.balanceTag}}
            data-test-filter-balance-tag
          />

          <FilterSelect
            @label="Balance type"
            @value={{filtersBlock.activeFilters.balanceType}}
            @content={{selectValues.balanceType}}
            data-test-filter-balance-type={{true}}
          />

          <FilterSelect
            @label="Directions"
            @value={{filtersBlock.activeFilters.directions}}
            @content={{selectValues.direction}}
            data-test-filter-directions={{true}}
          />

          <FilterNumber
            @label="Units"
            @value={{filtersBlock.activeFilters.units}}
            @min="0"
            data-test-filter-unit
          />

          <FilterText
            @label="Expiry time"
            @value={{filtersBlock.activeFilters.expiryTime}}
            data-test-filter-expiry-time
          />

          <FilterText
            @label="Timing tags"
            @value={{filtersBlock.activeFilters.timingTags}}
            data-test-filter-timing-tags
          />

          <FilterText
            @label="Destination tags"
            @value={{filtersBlock.activeFilters.destinationTags}}
            data-test-filter-destination-tags
          />

          <FilterText
            @label="Rating subject"
            @value={{filtersBlock.activeFilters.ratingSubject}}
            data-test-filter-rating-subject
          />

          <FilterText
            @label="Categories"
            @value={{filtersBlock.activeFilters.categories}}
            data-test-filter-categories
          />

          <FilterText
            @label="Shared groups"
            @value={{filtersBlock.activeFilters.sharedGroups}}
            data-test-filter-shared-groups
          />

          <FilterNumber
            @label="Balance weight"
            @value={{filtersBlock.activeFilters.balanceWeight}}
            @step="0.1"
            @min="0"
            data-test-filter-balance-weight
          />

          <FilterSelect
            @label="Balance blocker"
            @value={{filtersBlock.activeFilters.balanceBlocker}}
            @content={{selectValues.boolean}}
            data-test-filter-balance-blocker={{true}}
          />

          <FilterSelect
            @label="Balance disabled"
            @value={{filtersBlock.activeFilters.balanceDisabled}}
            @content={{selectValues.boolean}}
            data-test-filter-balance-disabled={{true}}
          />

          <FilterNumber
            @label="Weight"
            @value={{filtersBlock.activeFilters.weight}}
            @step="0.1"
            @min="0"
            data-test-filter-weight
          />
        </FiltersBlock>
      </div>
    </div>
  </div>
</main>