<BsForm
  @model={{@model}}
  @onSubmit={{perform @save}}
  @novalidate={{true}} as |form|
>
  <div class="form-row">
    <form.element
      @label="Tag"
      @property="tag"
      @class="col-md-6"
      @data-test-tag={{true}}
    />
    <form.element
      @label="Queue length"
      @property="queueLength"
      @controlType="number"
      @min="0"
      @class="col-md-3"
      @data-test-queue-length={{true}}
    />
    <InputSelect
      @property="metrics"
      @form={{form}}
      @label="Metrics"
      @content={{this.selectValues.metrics}}
      @class="col-md-3"
      @dataTest="metrics"
    />
    <InputInterval
      @value={{@model.timeWindow}}
      @form={{form}}
      @label="Time window"
      @property="timeWindow"
      @class="col-md-3"
      @dataTest="time-window"
    />
    <InputInterval
      @value={{@model.saveInterval}}
      @form={{form}}
      @label="Save interval"
      @property="saveInterval"
      @class="col-md-3"
      @dataTest="save-interval"
    />
    <form.element
      @label="Setup interval"
      @property="setupInterval"
      @class="col-md-6"
      @data-test-setup-interval={{true}}
    />
    <form.element
      @label="Tors"
      @property="tors"
      @class="col-md-6"
      @data-test-tors={{true}}
    />
    <form.element
      @label="cdrHosts"
      @property="cdrHosts"
      @class="col-md-6"
      @data-test-cdr-hosts={{true}}
    />
    <form.element
      @label="Cdr sources"
      @property="cdrSources"
      @class="col-md-6"
      @data-test-cdr-sources={{true}}
    />
    <form.element
      @label="Req types"
      @property="reqTypes"
      @class="col-md-6"
      @data-test-req-types={{true}}
    />
    <form.element
      @label="Directions"
      @property="directions"
      @class="col-md-6"
      @data-test-directions={{true}}
    />
    <form.element
      @label="Tenants"
      @property="tenants"
      @class="col-md-6"
      @data-test-tenants={{true}}
    />
    <form.element
      @label="Categories"
      @property="categories"
      @class="col-md-6"
      @data-test-categories={{true}}
    />
    <form.element
      @label="Accounts"
      @property="accounts"
      @class="col-md-6"
      @data-test-accounts={{true}}
    />
    <form.element
      @label="Subjects"
      @property="subjects"
      @class="col-md-6"
      @data-test-subjects={{true}}
    />
    <InputSelectSearchToString
      @label="Destination IDs"
      @value={{@model.destinationIds}}
      @searchModel="tp-destination"
      @searchField="tag"
      @tpid={{@model.tpid}}
      @multiple={{true}}
      @property="destinationIds"
      @form={{form}}
      @class="col-md-6"
      @dataTest="destination-ids"
    />
    <form.element
      @label="Pdd interval"
      @property="pddInterval"
      @class="col-md-6"
      @data-test-pdd-interval={{true}}
    />
    <form.element
      @label="Usage interval"
      @property="usageInterval"
      @class="col-md-6"
      @data-test-usage-interval={{true}}
    />
    <form.element
      @label="Suppliers"
      @property="suppliers"
      @class="col-md-6"
      @data-test-suppliers={{true}}
    />
    <form.element
      @label="Disconnect causes"
      @property="disconnectCauses"
      @class="col-md-6"
      @data-test-disconnect-causes={{true}}
    />
    <form.element
      @label="Mediation run IDs"
      @property="mediationRunids"
      @class="col-md-6"
      @data-test-mediation-runids={{true}}
    />
    <form.element
      @label="Rated accounts"
      @property="ratedAccounts"
      @class="col-md-6"
      @data-test-rated-accounts={{true}}
    />
    <form.element
      @label="Rated subjects"
      @property="ratedSubjects"
      @class="col-md-6"
      @data-test-rated-subjects={{true}}
    />
    <form.element
      @label="Cost interval"
      @property="costInterval"
      @class="col-md-6"
      @data-test-cost-interval={{true}}
    />
    <InputSelectSearchToString
      @label="Action triggers"
      @value={{@model.actionTriggers}}
      @searchModel="tp-action-trigger"
      @searchField="tag"
      @tpid={{@model.tpid}}
      @multiple={{true}}
      @property="actionTriggers"
      @form={{form}}
      @class="col-md-6"
      @dataTest="action-triggers"
    />
  </div>
  <BsButton
    @type="primary"
    @buttonType="submit"
    @disabled={{@save.isRunning}}
    @data-test-submit-button={{true}}
  >
    <LoadingButtonText @text="Save" @isLoading={{@save.isRunning}} />
  </BsButton>
</BsForm>