<BsForm
  @model={{@model}}
  @onSubmit={{perform @save}}
  novalidate={{true}} as |form|
>
  <div class="form-row">
    <form.element
      @label="Load ID"
      @property="loadid"
      @class="col-md-6"
      data-test-loadid={{true}}
    />
    <form.element
      @label="Direction"
      @property="direction"
      @class="col-md-6"
      data-test-direction={{true}}
    />
    <form.element
      @label="Tenant"
      @property="tenant"
      @class="col-md-6"
      data-test-tenant={{true}}
    />
    <form.element
      @label="Category"
      @property="category"
      @class="col-md-6"
      data-test-category={{true}}
    />
    <form.element
      @label="Account"
      @property="account"
      @class="col-md-6"
      data-test-account={{true}}
    />
    <form.element
      @label="Subject"
      @property="subject"
      @class="col-md-6"
      data-test-subject={{true}}
    />
    <InputSelectSearchToString
      @label="Destination tags"
      @value={{@model.destinationIds}}
      @searchModel="tp-destination"
      @searchField="tag"
      @phName="tag"
      @tpid={{@model.tpid}}
      @multiple={{true}}
      @property="destinationIds"
      @form={{form}}
      @class="col-md-6"
      @dataTest="destination-ids"
    />
    <form.element
      @label="Run ID"
      @property="runid"
      @class="col-md-6"
      data-test-runid={{true}}
    />
    <form.element
      @label="Run filters"
      @property="runFilters"
      @class="col-md-6"
      data-test-run-filters={{true}}
    />
    <form.element
      @label="Req type field"
      @property="reqTypeField"
      @class="col-md-6"
      data-test-req-type-field={{true}}
    />
    <form.element
      @label="Direction field"
      @property="directionField"
      @class="col-md-6"
      data-test-direction-field={{true}}
    />
    <form.element
      @label="Tenant field"
      @property="tenantField"
      @class="col-md-6"
      data-test-tenant-field={{true}}
    />
    <form.element
      @label="Category field"
      @property="categoryField"
      @class="col-md-6"
      data-test-category-field={{true}}
    />
    <form.element
      @label="Account field"
      @property="accountField"
      @class="col-md-6"
      data-test-account-field={{true}}
    />
    <form.element
      @label="Subject field"
      @property="subjectField"
      @class="col-md-6"
      data-test-subject-field={{true}}
    />
    <form.element
      @label="Destination field"
      @property="destinationField"
      @class="col-md-6"
      data-test-destination-field={{true}}
    />
    <form.element
      @label="Setup time field"
      @property="setupTimeField"
      @class="col-md-6"
      data-test-setup-time-field={{true}}
    />
    <form.element
      @label="Pdd field"
      @property="pddField"
      @class="col-md-6"
      data-test-pdd-field={{true}}
    />
    <form.element
      @label="Answer time field"
      @property="answerTimeField"
      @class="col-md-6"
      data-test-answer-time-field={{true}}
    />
    <form.element
      @label="Usage field"
      @property="usageField"
      @class="col-md-6"
      data-test-usage-field={{true}}
    />
    <form.element
      @label="Supplier field"
      @property="supplierField"
      @class="col-md-6"
      data-test-supplier-field={{true}}
    />
    <form.element
      @label="Disconnect cause field"
      @property="disconnectCauseField"
      @class="col-md-6"
      data-test-disconnect-cause-field={{true}}
    />
    <form.element
      @label="Rated field"
      @property="ratedField"
      @class="col-md-6"
      data-test-rated-field={{true}}
    />
    <form.element
      @label="Cost field"
      @property="costField"
      @class="col-md-6"
      data-test-cost-field={{true}}
    />
  </div>
  <BsButton
    @type="primary"
    @buttonType="submit"
    @disabled={{@save.isRunning}}
    data-test-submit-button={{true}}
  >
    <LoadingButtonText @text="Save" @isLoading={{@save.isRunning}} />
  </BsButton>
</BsForm>