<BsForm
  @model={{@model}}
  @onSubmit={{perform @save}}
  @novalidate={{true}} as |form|
>
  <div class="form-row">
    <form.element
      @label="Tenant"
      @property="tenant"
      @class="col-md-6"
      @data-test-tenant={{true}}
    />
    <form.element
      @label="ID"
      @property="customId"
      @class="col-md-6"
      @data-test-custom-id={{true}}
    />
    <InputSelect
      @property="filterType"
      @form={{form}}
      @label="Filter type"
      @content={{this.selectValues.filterTypes}}
      @class="col-md-6"
      @dataTest="filter-type"
    />
    <form.element
      @label="Filter field name"
      @property="filterFieldName"
      @class="col-md-6"
      @data-test-filter-field-name={{true}}
    />
    <form.element
      @label="Filter field values"
      @property="filterFieldValues"
      @class="col-md-6"
      @data-test-filter-field-values={{true}}
    />
    <form.element
      @label="Activation interval"
      @property="activationInterval"
      @class="col-md-6"
      @data-test-activation-interval={{true}}
    />
  </div>
  <BsButton
    @type="primary"
    @buttonType="submit"
    @disabled={{@save.isRunning}}
    @data-test-submit-button={{true}}
  >
    <LoadingButtonText @text="Save" @isLoading={{@save.isRunning}} />
  </BsButton>
</BsForm>