<BsForm
  @model={{@model}}
  @onSubmit={{perform @save}}
  novalidate={{true}} as |form|
>
  <div class="form-row">
    <InputSelect
      @property="direction"
      @form={{form}}
      @label="Direction"
      @content={{this.selectValues.direction}}
      @class="col-md-6"
      @dataTest="direction"
    />
    <form.element
      @label="Tenant"
      @property="tenant"
      @class="col-md-6"
      data-test-tenant={{true}}
    />
    <form.element
      @label="Category"
      @property="category"
      @class="col-md-6"
      data-test-category={{true}}
    />
    <form.element
      @label="Account"
      @property="account"
      @class="col-md-6"
      data-test-account={{true}}
    />
    <form.element
      @label="Subject"
      @property="subject"
      @class="col-md-6"
      data-test-subject={{true}}
    />
    <InputTags
      @property="destinationTag"
      @form={{form}}
      @label="Destination tag"
      @modelName="tp-destination"
      @tpid={{@model.tpid}}
      @class="col-md-6"
      @dataTest="destination"
    />
    <form.element
      @label="RP category"
      @property="rpCategory"
      @class="col-md-6"
      data-test-rp-category={{true}}
    />
    <InputSelect
      @property="strategy"
      @form={{form}}
      @label="Strategy"
      @content={{selectValues.strategy}}
      @class="col-md-6"
      @dataTest="strategy"
    />
    <form.element
      @label="Strategy params"
      @property="strategyParams"
      @class="col-md-6"
      data-test-strategy-params={{true}}
    />
    <form.element
      @label="Activation time"
      @property="activationTime"
      @class="col-md-6"
      data-test-activation-time={{true}}
    />
    <form.element
      @label="Weight"
      @property="weight"
      @controlType="number"
      @step="0.1"
      @min="0"
      @class="col-md-6"
      data-test-weight={{true}}
    />
  </div>
  <BsButton
    @type="primary"
    @buttonType="submit"
    @disabled={{@save.isRunning}}
    data-test-submit-button={{true}}
  >
    <LoadingButtonText @text="Save" @isLoading={{@save.isRunning}} />
  </BsButton>
</BsForm>