<BsForm
  @model={{@model}}
  @onSubmit={{perform @save}}
  novalidate={{true}} as |form|
>
  <div class="form-row">
    <form.element
      @label="Tag"
      @property="tag"
      @class="col-md-6"
      data-test-tag={{true}}
    />
    <InputSeconds
      @value={{@model.rateUnit}}
      @form={{form}}
      @label="Rate unit (seconds)"
      @property="rateUnit"
      @class="col-md-6"
      @dataTest="rate-unit"
    />
    <InputSeconds
      @value={{@model.rateIncrement}}
      @form={{form}}
      @label="Rate increment (seconds)"
      @property="rateIncrement"
      @class="col-md-6"
      @dataTest="rate-increment"
    />
    <form.element
      @controlType="number"
      @label="Rate (decimal)"
      @property="rate"
      @class="col-md-6"
      @step="0.0001"
      @min="0"
      data-test-rate={{true}}
    />
    <InputSeconds
      @value={{@model.groupIntervalStart}}
      @form={{form}}
      @label="Group interval start (seconds)"
      @property="groupIntervalStart"
      @class="col-md-6"
      @dataTest="group-interval-start"
    />
    <form.element
      @controlType="number"
      @label="RConnect fee (decimal)"
      @property="connectFee"
      @class="col-md-6"
      @step="0.0001"
      @min="0"
      data-test-connect-fee={{true}}
    />
  </div>
  <BsButton
    @type="primary"
    @buttonType="submit"
    @disabled={{@save.isRunning}}
    data-test-submit-button={{true}}
  >
    <LoadingButtonText @text="Save" @isLoading={{@save.isRunning}} />
  </BsButton>
</BsForm>