<BsForm
  @model={{@model}}
  @onSubmit={{perform @save}}
  @novalidate={{true}} as |form|
>
  <div class="form-row">
    <form.element
      @label="Tag"
      @property="tag"
      @class="col-md-6"
      data-test-tag={{true}}
    />
    <form.element
      @label="Years"
      @property="years"
      @class="col-md-6"
      data-test-years={{true}}
    />
    <form.element
      @label="Months"
      @property="months"
      @class="col-md-6"
      data-test-months={{true}}
    />
    <form.element
      @label="Month Days"
      @property="monthDays"
      @class="col-md-6"
      data-test-month-days={{true}}
    />
    <form.element
      @label="Week Days"
      @property="weekDays"
      @class="col-md-6"
      data-test-week-days={{true}}
    />
    <form.element
      @label="Time"
      @property="time"
      @class="col-md-6"
      data-test-time={{true}}
    />
  </div>
  <BsButton
    @type="primary"
    @buttonType="submit"
    @disabled={{@save.isRunning}}
    data-test-submit-button={{true}}
  >
    <LoadingButtonText @text="Save" @isLoading={{@save.isRunning}} />
  </BsButton>
</BsForm>