<main class="page-content">
  <div class="container xl">
    <div class="actions-subtitle">
      <h2>
        TpFilters list
      </h2>
      <ul class="actions">
        <TpIndexButtons
          @model={{this.model}}
          @tariffPlanId={{this.tariffPlanId}}
          @permittedFilters={{permittedFilters}}
          @refresh="refresh"
          @controller={{this}}
        />
      </ul>
    </div>
    <TotalRecords @totalRecords={{meta.total_records}} />
    <div class="row">
      <div class="col-md-9">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <SortHeader
                  @label="PK"
                  @key="id"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="ID"
                  @key="customId"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Tenant"
                  @key="tenant"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                  @data-test-sort-tenant={{true}}
                />
                <SortHeader
                  @label="Filter type"
                  @key="filterType"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Filter field name"
                  @key="filterFieldName"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Activation interval"
                  @key="activationInterval"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <SortHeader
                  @label="Created at"
                  @key="createdAt"
                  @sortColumn={{sortColumn}}
                  @sortOrder={{sortOrder}}
                  @sortAction="sortBy"
                />
                <td>
                  Actions
                </td>
              </tr>
            </thead>
            <tbody>
              {{#each model as |tpFilter|}}
                <tr>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-filters.tp-filter"
                      @model={{tpFilter}}
                    >
                      {{tpFilter.id}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-filters.tp-filter"
                      @model={{tpFilter}}
                    >
                      {{tpFilter.customId}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-filters.tp-filter"
                      @model={{tpFilter}}
                    >
                      {{tpFilter.tenant}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-filters.tp-filter"
                      @model={{tpFilter}}
                    >
                      {{tpFilter.filterType}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-filters.tp-filter"
                      @model={{tpFilter}}
                    >
                      {{tpFilter.filterFieldName}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-filters.tp-filter"
                      @model={{tpFilter}}
                    >
                      {{tpFilter.activationInterval}}
                    </LinkTo>
                  </td>
                  <td>
                    <LinkTo
                      @route="tariff-plan.tp-filters.tp-filter"
                      @model={{tpFilter}}
                    >
                      {{moment-format tpFilter.createdAt}}
                    </LinkTo>
                  </td>
                  <td class="actions">
                    <LinkTo
                      @route="tariff-plan.tp-filters.tp-filter.edit"
                      @model={{tpFilter}}
                    >
                      <i
                        class="material-icons circle btn btn-primary"
                        data-test-tp-filter-edit
                      >
                        edit
                      </i>
                    </LinkTo>
                    <a class="ml-1" role="button" {{action "remove" tpFilter}}>
                      <i
                        class="material-icons circle btn btn-danger"
                        data-test-tp-filter-remove
                      >
                        remove
                      </i>
                    </a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <PageNumbers
          @content={{this.pagination}}
          @action={{action "toPage"}}
          @numPagesToShow={{4}}
        />
      </div>
      <div class="col-md-3">
        <FiltersBlock
          @search={{action "search"}}
          @activeFilters={{this.filters}} as |filtersBlock|
        >
          <FilterText
            @label="ID"
            @value={{filtersBlock.activeFilters.customId}}
            data-test-filter-customid
          />

          <FilterText
            @label="Tenant"
            @value={{filtersBlock.activeFilters.tenant}}
            data-test-filter-tenant
          />

          <FilterSelect
            @label="Filter type"
            @value={{filtersBlock.activeFilters.filterType}}
            @content={{selectValues.filterTypes}}
            @class="fiter-type-select"
            @data-test-filter-fitertype={{true}}
          />

          <FilterText
            @label="Filter field name"
            @value={{filtersBlock.activeFilters.filterFieldName}}
            data-test-filter-field-name
          />

          <FilterText
            @label="Activation interval"
            @value={{filtersBlock.activeFilters.activationInterval}}
            data-test-filter-activation-interval
          />
        </FiltersBlock>
      </div>
    </div>
  </div>
</main>