<main class="page-content">
  <div class="container">
    <div class="actions-subtitle">
      <h2>TpAlias: {{model.alias}}</h2>
      <ul class="actions">
        <li>
          {{#link-to "tariff-plan.tp-aliases.tp-alias.edit" model}}
            <i class="material-icons circle btn btn-primary" data-test-edit>edit</i>
          {{/link-to}}
        </li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <h5>Id</h5>
        <p>{{model.id}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Tenant</h5>
        <p>{{model.tenant}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Direction</h5>
        <p>{{model.direction}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Category</h5>
        <p>{{model.category}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Account</h5>
        <p>{{model.account}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Subject</h5>
        <p>{{model.subject}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Destination ID</h5>
        <p>{{model.destinationId}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Context</h5>
        <p>{{model.context}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Target</h5>
        <p>{{model.target}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Original</h5>
        <p>{{model.original}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Alias</h5>
        <p>{{model.alias}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Weight</h5>
        <p>{{model.weight}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Created at</h5>
        <p>{{moment-format model.createdAt}}</p>
      </div>
    </div>
  </div>
</main>