<main class="page-content">
  <div class="container">
    <div class="actions-subtitle">
      <h2>TpAlias: {{this.model.alias}}</h2>
      <ul class="actions">
        <li>
          <LinkTo @route="tariff-plan.tp-aliases.tp-alias.edit" @model={{this.model}}>
            <i class="material-icons circle btn btn-primary" data-test-edit>edit</i>
          </LinkTo>
        </li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <h5>Id</h5>
        <p>{{this.model.id}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Tenant</h5>
        <p>{{this.model.tenant}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Direction</h5>
        <p>{{this.model.direction}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Category</h5>
        <p>{{this.model.category}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Account</h5>
        <p>{{this.model.account}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Subject</h5>
        <p>{{this.model.subject}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Destination ID</h5>
        <p>{{this.model.destinationId}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Context</h5>
        <p>{{this.model.context}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Target</h5>
        <p>{{this.model.target}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Original</h5>
        <p>{{this.model.original}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Alias</h5>
        <p>{{this.model.alias}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Weight</h5>
        <p>{{this.model.weight}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Created at</h5>
        <p>{{moment-format model.createdAt}}</p>
      </div>
    </div>
  </div>
</main>