<main class="page-content">
  <div class="container">
    <div class="actions-subtitle">
      <h2>TpLcrRule: {{model.id}}</h2>
      <ul class="actions">
        <li>
          {{#link-to "tariff-plan.tp-lcr-rules.tp-lcr-rule.edit"}}
            <i class="material-icons circle btn btn-primary" data-test-lcr-rule-edit>edit</i>
          {{/link-to}}
        </li>
      </ul>
    </div>
    <hr>
    <div class="row">
      <div class="col-12 col-md-3">
        <h5>Id</h5>
        <p>{{model.id}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Direction</h5>
        <p>{{model.direction}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Tenant</h5>
        <p>{{model.tenant}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Category</h5>
        <p>{{model.category}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Account</h5>
        <p>{{model.account}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Subject</h5>
        <p>{{model.subject}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Destination tag</h5>
        <p>{{model.destinationTag}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>RP category</h5>
        <p>{{model.rpCategory}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Strategy</h5>
        <p>{{model.strategy}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Strategy params</h5>
        <p>{{model.strategyParams}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Activation time</h5>
        <p>{{model.activationTime}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Weight</h5>
        <p>{{model.weight}}</p>
      </div>
      <div class="col-12 col-md-3">
        <h5>Created at</h5>
        <p>{{moment-format model.createdAt}}</p>
      </div>
    </div>
  </div>
</main>