{{#if session.isAuthenticated}}
  <header>
    <BsNavbar
      @type={{type}}
      @class="navbar-dark bg-dark navbar-expand-sm"
      @onCollapse={{action (mut collapsed) true}}
      @onExpand={{action (mut collapsed) false}} as |navbar|
    >
      <div class="navbar-header">
        <LinkTo @route="realtime" class="navbar-brand">
          CGRates WEB
        </LinkTo>
      </div>
      {{navbar.toggle}}
      <navbar.content>
        <navbar.nav @class="ml-auto" as |nav|>
          <nav.item>
            <nav.link-to @route="realtime">
              Realtime
            </nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="tariff-plans" data-test-tariff-plan-link>
              Tariff Plans
            </nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="users" data-test-users-link>
              Users
            </nav.link-to>
          </nav.item>
          <nav.item>
            <nav.link-to @route="cdrs">
              CDRs
            </nav.link-to>
          </nav.item>
          <nav.item>
            <BsButton @type="secondary" @outline={{true}} @onClick={{this.logOut}}>Log Out</BsButton>
          </nav.item>
        </navbar.nav>
      </navbar.content>
    </BsNavbar>
  </header>
{{/if}}

{{outlet}}

<div class="flash">
  {{#each flashMessages.queue as |flash|}}
    <FlashMessage @flash={{flash}} as |flashComponent flash|>
      {{#if flash.componentName}}
        {{component flash.componentName content=flash.content}}
      {{else}}
        <h6>
          {{flashComponent.flashType}}
        </h6>
        <p>
          {{flash.message}}
        </p>
      {{/if}}
    </FlashMessage>
  {{/each}}
</div>