<section class="page-header mb-4">
  <div class="container">
    <h1 class="page-title">
      Log in
    </h1>
  </div>
</section>
<main class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <BsForm
        @model={{this}}
        @onSubmit={{action "signIn"}}
        @novalidate={{true}} as |form|
      >
        <form.element
          @label="Email"
          @property="email"
          @controlType="email"
          data-test-identification={{true}}
        />
        <form.element
          @label="Password"
          @property="password"
          @controlType="password"
          data-test-password={{true}}
        />
        <BsButton
          @defaultText="Log in"
          @type="primary"
          @buttonType="submit"
          data-test-submit-button={{true}}
        />
      </BsForm>
    </div>
  </div>
</main>